/* CSS declarations go here */
body {
  font-family: Courier New, Courier, monospace;
  background-color: #FFF;

  position: absolute;

  height: 100%;
  width: 100%;

  overflow: auto!important;
  max-height: 100% !important;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
}

#render-target {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

svg {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.arrow {
  cursor: pointer;
  position: absolute;
  padding: 0;
  width: 20%;
}

.left:hover line,
.left:focus line,
.left:hover polyline,
.left:focus polyline {
  stroke-width: 2;
}

.left:active line,
.left:active polyline {
  stroke-width: 2;
  transition: all 75ms ease-in-out;
}

polyline, line {
  transition: all 100ms ease-in-out;
}

hr { 
  border: 1 solid black;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 15px;
}

/** blur up **/
/* http://alistapart.com/article/now-you-see-me */
.blur-up__hidden {
    position: absolute;
    display: none;
}

.blur-up__blur {
    filter: blur(1px);
}

.blur-up__animation {
    transition: all .7s ease;
    transition-property: opacity, visibility;

    visibility: visible;
    opacity: 1;
}

.blur-up__animation--fade-out {
    visibility: hidden;
    opacity: 0;
}

/* http://tachyons.io/components/layout/horizontal-aspect-ratios/index.html */
.blur-up__aspect-ratio {
    overflow: hidden;
}

.blur-up__aspect-ratio--16x9 {
    padding-bottom: 56.25%;
}

.blur-up__aspect-ratio--4x3 {
    padding-bottom: 75%;
}

.blur-up__aspect-ratio--6x4 {
    padding-bottom: 66.6%;
}

.blur-up__aspect-ratio--8x5 {
    padding-bottom: 62.5%;
}

.blur-up__aspect-ratio--7x5 {
    padding-bottom: 71.42%;
}

.blur-up__aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.blur-up__aspect-ratio--object {
    position: absolute;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    /*background-color: rgba(9, 163, 236, 0.3);
    background-blend-mode: multiply;*/
}
